html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf7f0;
  margin: 0;
  padding: 0;
  font-family: "Calibri", sans-serif;
}

nav,
.navbar-items {
  display: flex;
}

.navbar-container {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.navbar-items {
  list-style: none;
  gap: 2rem;
  font-size: 1.25rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.name {
  display: inline;
  margin-left: 10px;
  font-size: 2rem;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#section-1 {
  margin-top: -80px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-card {
  display: flex;
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Calibri", sans-serif;
}

.image-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 3px solid black;
  border-radius: 25px;
}

.name-tag {
  font-size: 20px;
  font-weight: 600;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.description {
  font-size: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 991px) {
  .mobile {
    display: block;
  }
}
